<div id="<%= dom_id boleto %>" class="columns is-mobile is-multiline is-centered">
  <% campos = { "Id": "id",
                "Valor": "amount",
                "Vencimento": "expire_at",
                "Nome": "customer_person_name",
                "CNPJ/CPF": "customer_cnpj_cpf",
                "Estado": "customer_state",
                "Cidade": "customer_city_name",
                "CEP": "customer_zipcode",
                "Endereço": "customer_address",
                "Bairro": "customer_neighborhood",
                "Situação": "status" }
  %>
  <% campos.each do |key, value| %>
    <div class="column is-narrow">
      <div class="box">
        <p class="title is-5"><%= key %></p>
        <p class="subtitle"><%= display(value, boleto[value.to_sym]) %></p>
      </div>
    </div>
  <% end %>
</div>
