<h1>Canceling boleto</h1>

<%= link_to "Sim, cancelar", boleto_path(@boleto_id), data: { turbo_method: :put }, class: "button is-secondary" %>

<br>

<div>
  <%= link_to "Show this boleto", @boleto %> |
  <%= link_to "Back to boletos", boletos_path %>
</div>
