<div class="is-flex is-justify-content-end">
  <%= link_to "Criar boleto",
              new_boleto_path,
              class: "button is-primary is-rounded mb-4",
              data: {
                controller: "modal",
                action: "modal#open",
                turbo_frame: "boleto_frame"
              }
  %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CNPJ/CPF</th>
      <th>Valor</th>
      <th>Vencimento</th>
      <th>Endereço</th>
      <th>CEP</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Situação</th>
    </tr>
  </thead>
  <tbody id="boletos">
    <% @billets.each do |billet| %>
      <%= render "billet", billet: billet %>
    <% end %>
  </tbody>
</table>

<%= render "layouts/modal" %>
