<%= link_to "Create boleto",
            new_boleto_path,
            class: "button is-primary",
            data: {
              controller: "modal",
              action: "modal#open",
              turbo_frame: "boleto_frame"
            }
%>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Expiration</th>
      <th>Person</th>
      <th>CNPJ/CPF</th>
      <th>State</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Address</th>
      <th>Neighborhood</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @billets.each do |billet| %>
      <%= render "billet", billet: billet %>
    <% end %>
  </tbody>
</table>

<%= render "layouts/modal" %>
