<p style="color: green"><%= notice %></p>

<h1>Boletos#show</h1>


<p style="color: green"><%= notice %></p>

<%= render "boletos/boleto", boleto: @bank_billet %>

<div>
  <%= link_to "Back to boletos", boletos_path %>
</div>
