<% flash.each do |flash_type, message| %>
  <div class="flash_message has-text-info is-size-6" data-controller="removals" data-action="animationend->removals#remove">
    <%= message %>
  </div>
<% end %>
