
<div id="modal-boleto" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <%= turbo_frame_tag :boleto_frame %>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
